<mat-toolbar color="primary">
    <button mat-icon-button class="menu" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-flat-button class="reg-btn" (click)="register()">Register</button>
  </mat-toolbar>
<mat-card>
    <mat-card-content>
        <div class="header"><h2>LOGIN</h2><hr></div>
        <form name="loginform" [formGroup]="loginform" (ngSubmit)="login()">
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput [(ngModel)]="user.userMail" required />
                    <mat-error *ngIf="loginform.get('email').errors?.required">Email is required</mat-error>
                    <mat-error *ngIf="loginform.get('email').errors?.email">Enter valid email</mat-error>
                </mat-form-field>
            </div>

            <div class="email-input">
                <span class="aLink">Forgot Password?</span>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput [(ngModel)]="user.password" required />
                    <mat-error *ngIf="loginform.get('password').errors?.required">Passowrd is required</mat-error>
                    <mat-error *ngIf="loginform.get('password').errors?.minlength">Password must more than 5</mat-error>
                </mat-form-field>
            </div>
            <button class="btn">Login</button>
            </form>
    </mat-card-content>
</mat-card>